:root {
  --background-color: #232324;
  --primary-color: #a571ec;
  --primary-color-dark: #804cc7;
  --white-color: #fff;
  --grey-text-color: rgb(223, 223, 223);
  --button-color: darken($background-color, 5);
}
