:root {
  --background-color: #232324;
  --primary-color: #a571ec;
  --primary-color-dark: #804cc7;
  --white-color: #fff;
  --grey-text-color: rgb(223, 223, 223);
  --grey-text-color-dark: #7b7b83;
  --button-color: #585858;
}
